[submodule "ai"]
	path = ai
	url = https://github.com/omnistudy-io/ai

[submodule "api"]
	path = api
	url = https://github.com/omnistudy-io/api

[submodule "app"]
	path = app
	url = https://github.com/omnistudy-io/app

[submodule "web"]
    path = web
    url = https://github.com/omnistudy-io/web